* {
  background-color: #dadada;

}


.input {
  background-color: white;
  border: none;
  padding: 10px 5px 10px 25px;
}

.li {
  list-style-type: none;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.063);
}

.disp > .close {
  display: none;
}

.disp:hover > .close {
  display: flex;
}

.completo {
  box-shadow: 3px 3px hwb(0 38% 62% / 0.824);
}
